[submodule "submodules/oni-js"]
	path = submodules/oni-js
	url = git@github.com:kwketh/oni-js.git
[submodule "submodules/schema-js"]
	path = submodules/schema-js
	url = git@github.com:kwketh/schema-js.git
