[submodule "submodules/oni-js"]
	path = public/submodules/oni-js
	url = git@oni-js.github.com:kwketh/oni-js.git
	branch = master
[submodule "submodules/schema-js"]
	path = public/submodules/schema-js
	url = git@schema-js.github.com:kwketh/schema-js.git
	branch = master
[submodule "public/submodules/psd-js"]
	path = public/submodules/psd-js
	url = git@psd-js.github.com:kwketh/psd-js.git
	branch = master
